h2 {
    font-size: 28px;
}

.rce-comment{
    display: table;
    white-space: nowrap;
    text-align: center;
    width: 100vw;
}

.rce-comment:after, .rce-comment:before {
    border-top: 3px solid #111;
    content: '';
    display: table-cell;
    position: relative;
    top: .5em;
    width: 45%;
}